/* 
title: form.html Styles
by Laura McCool
for: CSS Selectors*/


label.error{display: block; margin:10px 0; color:#cc0000;}

#rberrorslink{display: none;}

































/*
h1 {
	margin-top: 0px;
	margin-bottom: 0px;
	margin-right: 0px;
	margin-left: 0px;
	padding-top: 0px;
	padding-bottom: 0px;
	padding-left: 0px;
	padding-right: 0px;
	text-align: center;
	/*border: 2px dashed #e22828;
	font-family: "century gothic", Arial, Times;;
	color: #e22828;
	background-color: #ffffff;
 
}

h2 {
	margin-top: 20px;
	margin-bottom: 10px;
	font-family: "century gothic", Arial, Times;
	text-align: center;
	color: #ffffff;
}

h3 {
	margin-top: 20px;
	margin-bottom: 10px;
	font-family: "century gothic", Arial, Times;
	text-align: center;
	color: #ffffff;
}

body {
	font-family: "century gothic", Arial, Times;
	background-color: #72b035;
}

label { 
	font-family: "century gothic", Arial, Times;
	color: #ffffff;
}

li {
	display: block;
	font-family: "century gothic", Arial, Times;
	color: #ffffff;
}

p {
	font-family: "century gothic", Arial, Times;
	color: #ffffff;
	text-align: center;
	letter-spacing: ;
	font-weight: bold
}

legend {
	font-family: "century gothic", Arial, Times;
	color: #ffffff;
	font-weight: bold;
}

a:hover {color: #ffffff; outline: none;}
a:link {color: #ffffff; outline: none;}
a:visited {color: #ffffff; outline: none;}

nav{ 
	padding-top: 5px;
	padding-bottom: 1px;
	padding-left: 5px;
	padding-right: 5px;
	outline: 1px dashed #ffffff;
	background-color: #e22828;
	font-family: "century gothic", Arial, Times;
	text-align: center;
	font-size: 18px;
	font-weight: bold;
	
}
nav1{ 
	padding-top: 0px;
	padding-bottom: 0px;
	padding-left: 0px;
	padding-right: 0px;
	font-family: "century gothic", Arial, Times;
	text-align: center;
	font-size: 18px;
	font-weight: bold;
}
search{
	font-family: "century gothic", Arial, Times;
	color: #ffffff;
	text-align: center;
	letter-spacing: ;
	font-weight: bold
}